Node-RED/flows.json
[{"id":"8a467623f4982bc4","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"bd08e6011ef7acd9","type":"mqtt in","z":"8a467623f4982bc4","name":"","topic":"esp32-2/button/state","qos":"2","datatype":"auto-detect","broker":"7ac30939602be81e","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":140,"wires":[["be737c121c06486a"]]},{"id":"416c1f7e4c9cc61a","type":"debug","z":"8a467623f4982bc4","name":"výpis stavu","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":540,"y":60,"wires":[]},{"id":"be737c121c06486a","type":"function","z":"8a467623f4982bc4","name":"logika","func":"// Odoslanie prijatej správy späť na MQTT server\nvar ledState = context.get('ledState') || false;\nvar paymsg = msg.payload;\n\nif (paymsg == \"released\"){\n    return null;\n}\nif (paymsg == \"pressed\"){\n    ledState = !ledState;  // Prepnutie stavu LED\n}\ncontext.set('ledState', ledState);  // Uloženie stavu LED do contextu\nvar mqttMsg = {\n    topic: 'esp32/light1/state',\n    payload: ledState ? 'ON' : 'OFF',\n    qos: 0,\n    retain: false\n};\n\nreturn mqttMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["416c1f7e4c9cc61a","9cbfa90f09f8d568"]]},{"id":"9cbfa90f09f8d568","type":"switch","z":"8a467623f4982bc4","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":240,"wires":[["e7739ec9bcfd280e"],["3d54d1af4f756dd7"]]},{"id":"3d54d1af4f756dd7","type":"api-call-service","z":"8a467623f4982bc4","name":"zapni","server":"6c0f48f2.0500e8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.office_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":360,"wires":[["464be9e6b6be83b5"]]},{"id":"e7739ec9bcfd280e","type":"api-call-service","z":"8a467623f4982bc4","name":"vypni","server":"6c0f48f2.0500e8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.office_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":140,"wires":[["f6f92f6851d873df"]]},{"id":"f6f92f6851d873df","type":"debug","z":"8a467623f4982bc4","name":"vyplo sa","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":140,"wires":[]},{"id":"464be9e6b6be83b5","type":"debug","z":"8a467623f4982bc4","name":"zaplo sa","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":360,"wires":[]},{"id":"944729afae86fd9a","type":"server-state-changed","z":"8a467623f4982bc4","name":"termostat","server":"6c0f48f2.0500e8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.termostat","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"thermostat","valueType":"str"}],"x":180,"y":460,"wires":[["9507cca35a3f06e4","de4b66ecf3478f11"]]},{"id":"9507cca35a3f06e4","type":"mqtt out","z":"8a467623f4982bc4","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7ac30939602be81e","x":470,"y":380,"wires":[]},{"id":"81a236bc8182b311","type":"debug","z":"8a467623f4982bc4","name":"výpis","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"data","statusType":"auto","x":740,"y":460,"wires":[]},{"id":"ea01919a92da1520","type":"mqtt in","z":"8a467623f4982bc4","name":"","topic":"esp32/temperature/temp1","qos":"2","datatype":"auto-detect","broker":"7ac30939602be81e","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":560,"wires":[["43f679843808a77b"]]},{"id":"43f679843808a77b","type":"function","z":"8a467623f4982bc4","name":"kúrenie","func":"var targetTemperature = global.get(\"termostat\");\nvar hysteresis = 2; \n\nvar currentTemperature = msg.payload;\nvar state;\n\nif (currentTemperature >= targetTemperature + hysteresis) {\n    // Teplota je vyššia ako cieľová teplota s hysterezou\n    state = \"OFF\";\n} else if (currentTemperature <= targetTemperature - hysteresis) {\n    // Teplota je nižšia ako cieľová teplota s hysterezou\n    state = \"ON\";\n}\nvar mqttMsg = {\n    topic: 'esp32/light2/state',\n    payload: state,\n    qos: 0,\n    retain: false\n};\nreturn mqttMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":560,"wires":[["81a236bc8182b311","ded190cdda4a9c06"]]},{"id":"de4b66ecf3478f11","type":"function","z":"8a467623f4982bc4","name":"set global","func":"var termostat = msg.payload;\nglobal.set(\"termostat\", termostat);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":460,"wires":[[]]},{"id":"ded190cdda4a9c06","type":"mqtt out","z":"8a467623f4982bc4","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7ac30939602be81e","x":730,"y":560,"wires":[]},{"id":"7ac30939602be81e","type":"mqtt-broker","name":"MQTT","broker":"192.168.130.246","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6c0f48f2.0500e8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]